/* This will remove the underline at header */
.linkabout {
    text-decoration: none; 
  }
/* Styles for the content section */
.about-content {
    padding-top: 5em;
    padding-bottom: 5em;
}

/* Styles for the section container */
.section-container {
    display: flex;
    flex-direction: row;
    font-size: larger;
    margin-left: 4em;
    margin-bottom: 4em;
    padding-left: 2em;
}

/* Styles for the h2 headings */
h2 {
    font-size: 30px;
    position: relative;
}

/* Styles for the line after h2 headings */
.section-container>div>h2::after {
    content: "";
    position: absolute;
    left: 6em;
    bottom: -10px;
    width: 40%;
    height: 1.5px;
    background-color: yellow;
}

/* Styles for the section container's div elements */
.section-container>div {
    text-align: center;
    margin-left: 10px;
}

/* Styles for the description text */
.description {
    margin: 5px;
    font-size: medium;
}

/* Styles for the images */
.image {
    justify-content: flex-end;
}

/* Styles for the images within the container */
.image img {
    max-width: 100%;
    height: auto;
    border-radius: 1%;
}

/* Styles for the hover effect on images */
.image img:hover {
    box-sizing: border-box;
    box-shadow: 0px 5px 10px 0px #07000b;
}

/* Styles for the main container */
.container {
    /* margin: 2em; */
    padding-top: 2em;
    display: flex;
    align-items: flex-start;
    background-color: aliceblue;
}

/* Styles for the div elements within the container */
.container>div {
    text-align: center;
}

/* Styles for the unordered lists within the container */
.container ul {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

/* Styles for the committee items within the container */
.container .committee ul li {
    flex-basis: calc(38.33% - 10px);
    /* Set the width of each committee box */
}

/* Styles for the council items within the container */
.container .council ul li {
    flex-basis: calc(42.5% - 1px);
    /* Set the width of each council box */
}

/* Styles for all list items within the container */
.container ul li {
    margin: 60px 15px 20px 12px;
    font-weight: 350;
    color: rgb(14, 14, 14);
    text-align: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px 0px #baba23;
    padding: 10px;
    /* Add padding for spacing */
    margin-bottom: 10px;
    /* Add spacing between boxes */
}

/* Styles for the hover effect on list items within the container */
.container ul li:hover {
    box-shadow: 2px 5px 5px 2px #baba23;
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
    .section-container {
        flex-direction: column;
        margin-left: 2em;
        margin-right: 2em;
    }

    .section-container>div {
        margin-left: 0;
    }

    .image {
        justify-content: center;
    }

    .image img {
        max-width: 100%;
    }
}
