.fundraise_section_main .row {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 4rem;
  
  }
  
  .col-lg-4 {
    flex-basis: 30%;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 5px;
    
  }


  div .box_main{
    border-radius: 5px;
  }
  
  .box_main {
    background-color: #f1f1f1;
    padding: 20px;
    color: white;
    text-align: center;
    background-color: rgba(31, 118, 189, 0.9);
  
    
  }
  .box_main:hover {
    background-color: #63a6c0;
    color: #000;
  
  }
  
  
  .box_main.active {
    background: rgba(31, 118, 189, 0.9);
    color: white;
  
  }
  .box_main.active:hover {
    background-color: #63a6c0;
    color: #000;
  
  }

  .container .row {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    row-gap: 1rem;
    column-gap: 1rem;
  }



  .col-lg-6 {
    flex-basis: 40%;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 5px;
    
  }
  
  /*Donation Buttons Payment*/
  
  .ppdonatebtn {
    min-width: 12rem;
    height: 6vh;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
  }
  
  .ppdonatebtn:hover {
    background-color: purple;
  }
  
  .ppdonatebtn:active{
    background-color: red;
  }

  
  .home-reasons {
    margin: 25px 0;
    
  }
  
  .reasons-col {
    position: relative;
    overflow: hidden;
    
  }
  .reasons-col img {
    width: 100%;
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
    
  }
  .reasons-col .reasons-titles {
    position: absolute;
    bottom: 0;
    text-align: center;
    background: rgba(31, 118, 189, 0.8);
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    height: 125px;
    padding: 25px 0;
    
  }
  .reasons-col .reasons-title {
    font-weight: bold;
  }
  .reasons-col .on-hover {
    position: absolute;
    top: 0;
    bottom: 125px;
    width: 100%;
    padding: 25px;
    color: #fff;
    text-align: justify;
    background: rgba(31, 118, 189, 0.9);
    border-bottom: 1px solid #fff;
    visibility: hidden;
    opacity: 0;
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
  }
  .reasons-col:hover .on-hover {
    visibility: visible;
    opacity: 1;
    padding: 50px;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    -webkit-transition: all, 1s;
    transition: all, 1s;
  }
  .reasons-col:hover img {
    -moz-transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
    -webkit-transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
    transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
  }
  
  
  
  
  .carousel {
    position: relative;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    height: 0.cm;
    overflow: hidden;
  }
  
  .carousel-item {
    position: relative;
    display: none;
  }
  
  .carousel-item.active {
    display: block;
  }
  
  .carousel-item img {
    width: 2000px;
    height: 390px;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: inline-block;
    width: 15px;
    height: -2px;
    background: no-repeat 50%/100% 100%;
  }
  
  .carousel-control-prev-icon::before,
  .carousel-control-next-icon::before {
    content: "";
  }
  
  /*Long Donate Button*/
  .btn-theme {
    display: flex;
    padding: 10px 20px;
    background: rgba(31, 118, 189, 0.9);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
  }
  
  .btn-theme:hover {
    background-color: #63a6c0;
  }

  img.image1, img.image2 {
    border-radius: 5px;
  }

  @media only screen and (max-width: 600px) {
    .fundraise_section_main .row {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
      }

    .container .row {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
      }
  }