footer {
    background-color: black;
}
footer .footer-items {
    margin-top: 4rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(40, 38, 38);
    color: white  ;
}

.footer-items ul {
    padding-left: 0;
}

.footer-items ul li {
    list-style: none;
    padding-top: 1rem;
    text-align: left;
}

ul li.email{
    color: orange;
}

ul li.email a{
    text-decoration: none;
    color: white;
}

ul li.email a:hover{
    text-decoration: underline;
    color:white;
}

.copyright {
    text-align: center;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.go-to-top-button{
    position: fixed;
    bottom: 10px;
    right: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
  
.go-to-top-button.show {
opacity: 1;
}


@media only screen and (max-width: 600px) {
    .footer-items {
        display: flex;
        flex-wrap: wrap;
        height: 50vh;
    }

    .footer-items div {
        text-align: left;
        width: 100%;
        padding: 5px;
    }
}