.navigation {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 1rem auto;
}

nav ul li:hover, a.linkhome:hover, a.dropdown-link:hover {
    color: blue;
}

.navigation img.logo {
    width: 5rem;
}
.header-nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50vw;
    flex-basis: auto;
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
    padding-left: 0;
}
/* dropdown */
.dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    font-size: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    color: green;
  }
  .dropdown .dropdown-link {
    text-decoration: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-icon {
    display: inline-block;
    vertical-align: middle;
  }

.linkhome, .linkprojects {
    text-decoration: none;
}

.donate-btn-container{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 3rem;
    border-radius: 5px;
}

.donate-btn-container:hover {
    background-color: purple;
}

.donate-btn-container:active{
    background-color: red;
}

input.linkdonate {
    display: inline-block;
    color: white;
    border:none;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 700;

}
.search {
    height: 2rem;
    min-width: 10rem;
    border-width: 2px;
    border-style: none;
    border: 2px solid gainsboro;
    border-radius: 15px;

}

@media only screen and (max-width: 600px) {
 
    .navigation {
        display: flex;
        width: 90%;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        overflow: hidden;
    }


    .navigation ul {
        flex-direction: column;
        width: 100%;
    }
    
    .navigation ul li{
        background-color: azure;
        width: 90vw;
        margin-bottom: 1rem;
        text-align: left;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }


    .navigation ul li:hover {
        background-color: blueviolet;
        color: white;
    }
    ul:last-child {
       margin-bottom: 0;
    }

    .donate-btn-container {
        width: 100%;
        background-color: blue;
        justify-content: flex-start;
        border-radius: 0;
        border-radius: 5px;
        margin-left: -8px;
    }

    .search{
        width: 98%;
        text-align: left;
        align-self: flex-start;
        margin-top: 1rem;
        border-style: none;
        border: 2px solid gainsboro;
        border-radius: 15px;
    }

    nav {
        margin: auto
    }
}



