.image-slider {
  position: relative;
  width: 100vw;
  height: 85vh;
  overflow: hidden;
}

.image-slider > div {
  display: none;
}

.image-slider > div.active {
  display: block;
}

.image-slider > div.active img {
  opacity: 1;
}

.image-slider > div.active h2 {
  opacity: 1;
}

.image-slider > div.active p {
  opacity: 1;
}
.image-slider > div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  transition: transform 1s ease;
  animation: zoomInOut 15s infinite;
}

div h2.one, div h2.two {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: wheat;
  text-align: justify;
  opacity: 0;
  font-size: 4rem;
  width: 90%;
  padding: 1rem;
} 

div p.one, div p.two {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  text-align: justify;
  opacity: 0;
  font-size: 1.5rem;
  width: 90%;
  padding: 1rem;
} 

div h2.three {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  /* color: rgb(91, 89, 89); */
  color: peru;
  text-align: justify;
  opacity: 0;
  font-size: 4rem;
  width: 90%;
  padding: 1rem;
  text-align: center;
} 

div p.three {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: blue;
  text-align: justify;
  opacity: 0;
  font-size: 1.5rem;
  width: 90%;
  padding: 1rem;
  text-align: center;
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 600px) {
  .image-slider {
    height: 400px;
  }
  .image-slider > div.active img {
    width: 100%;
    height: auto;
  }
  .image-slider > div.active h2 {
    font-size: 1.5rem;
  }

  .image-slider > div.active p {
    font-size: 1.1rem;
  }

  div h2.one, div p.one, div h2.two, div p.two {
    text-align: center;
  }

  div p.one, div p.two, div p.three {
    top: 20%
  }

  div p.three {
    top: 25%;
    color: brown;
  }
}
